{% extends 'layout-app.html' %}

{% set hub = "Messages" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/messages/your-messages" %}

{% set pageHeading = "NHS Online" %}
{% set pageDescription = "Received today at 1:02pm" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

      <div class="nhsuk-u-margin-bottom-7">
       <p>Because of some of the symptoms you have discussed with your GP a blood test is required to assess you for Iron deficiency anaemia.</p>

      <p><a class="nhsuk-link" href="/pages/your-health/view-availability">Book with a clinic</a></p>
      <p><a class="nhsuk-link" href="#">Order home test kit</a></p>

      <h2 class="nhsuk-heading-m">What do I need to do to prepare?</h2>
      <p>There is no required preparation (e.g., fasting) for an NHS full blood count and iron test.</p>

      <h2 class="nhsuk-heading-m">What is this test about?</h2>
      <p>The objective of the blood test to find out if the number of red blood cells you have is normal. This is called a full blood count (FBC) test, which also looks at other types of cells in your blood.</p>

      <h2 class="nhsuk-heading-m">What is Iron deficiency anaemia?</h2>
      <p>Iron deficiency anaemia is caused by lack of iron, often because of blood loss or pregnancy. It's treated with iron tablets and by eating iron-rich foods. <a href="https://www.nhs.uk/conditions/iron-deficiency-anaemia/" class="nhsuk-link">Read more about Iron deficiency anaemia</a>.</p>

      <h2 class="nhsuk-heading-m">What if I'm worried about needles?</h2>
      <p>Tell the healthcare professional doing your blood test if you're worried about needles. They can help you feel more comfortable during the test. You can also bring someone with you to the blood test to support you.</p>

      <h2 class="nhsuk-heading-m">Can I book this test over the phone?</h2>
      <p>The easiest way to book and manage a test is through this app but if you'd prefer to speak to someone call:</p>
      <p>
        <a class="nhsuk-link nhsuk-link--no-visited-state nhsuk-heading-m" href="tel:0800123456">0800 123 456</a>
        <span class="nhsuk-body-m">9:00am - 5:00pm Monday to Friday</span>
      </p>
      </div>

    </div>
  </div>

  {% endblock %}
