{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/hospital-and-specialist-appointments" %}

{% set pageHeading = "Arrange [Name of test requested]" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <a class="nhsuk-back-link" href="{{ backLinkURL }}">&lt; Back</a>

      <h1 class="app-dynamic-page-title__heading nhsuk-heading-l">Arrange [Name of test requested]</h1>

      <p><span class="nhsuk-font-weight-bold">Requested by:</span> NHSO</p>
      <p><span class="nhsuk-font-weight-bold">Requested on:</span> 6 April 2026</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <ul class="nhsapp-cards">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22" href="/pages/your-health/view-availability" aria-label="Book with a clinic">Book with a clinic</a>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>

        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22" href="#" aria-label="Order Home test kit">Order Home test kit</a>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
      </ul>

      <h2 class="nhsuk-heading-m">What is this test about?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <h2 class="nhsuk-heading-m">When should I book this by?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <h2 class="nhsuk-heading-m">Can I book this test over the phone?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

      <p>
        <a class="nhsuk-link nhsuk-link--no-visited-state nhsuk-heading-m" href="tel:0800123456">0800 123 456</a><br>
        <span class="nhsuk-body-s">9:00am - 5:00pm Monday to Friday</span>
      </p>

    </div>
  </div>

{% endblock %}
