{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/hospital-and-specialist-appointments" %}

{% set pageHeading = "Arrange blood test" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="app-dynamic-page-title__heading nhsuk-heading-l">Arrange Blood test</h1>

      {{ card({ heading: "Home kits", headingClasses: "nhsuk-heading-m", feature: true, descriptionHtml: "<p class='nhsuk-body'>Home kits are the most convenient and often the quickest way to get your results.</p>" }) }}

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Requested by</dt>
          <dd class="nhsuk-summary-list__value">NHS Online</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Requested on</dt>
          <dd class="nhsuk-summary-list__value">6 April 2026</dd>
        </div>
      </dl>

      <p>Because of some of the symptoms you have discussed with your GP a blood test is required to assess you for Iron deficiency anaemia.</p>
      <ul class="nhsapp-cards">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22" href="/pages/your-health/view-availability" aria-label="Book with a clinic">Book with a clinic</a>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>

        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22" href="#" aria-label="Order Home test kit">Order Home test kit</a>
            </div>
            {{ nhsappIcon('chevronRight') }}
          </div>
        </li>
      </ul>

      {{ details({
        summaryText: "How to cancel this request",
        html: "<p>If you no longer need this blood test, you can contact your GP practice to cancel the request.</p>"
      }) }}

      <div style="height: 5px;"></div>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
      <div style="height: 10px;"></div>

      <h2 class="nhsuk-heading-m">What do i need to do to prepare?</h2>
      <p>There is no required preparation (e.g., fasting) for an NHS full blood count and iron test.</p><BR>
      
      <h2 class="nhsuk-heading-m">What is this test about?</h2>
      <p>The objective of the blood test to find out if the number of red blood cells you have is normal. This is called a full blood count (FBC) test, which also looks at other types of cells in your blood.</p><BR>

      <h2 class="nhsuk-heading-m">What is Iron deficiency anaemia?</h2>
      <p>Iron deficiency anaemia is caused by lack of iron, often because of blood loss or pregnancy. It's treated with iron tablets and by eating iron-rich foods. <a href="https://www.nhs.uk/conditions/iron-deficiency-anaemia/" class="nhsuk-link">Read more about Iron deficiency anaemia</a>.</p><BR>

      <h2 class="nhsuk-heading-m">What If I'm worried about needles?</h2>
      <p>Tell the healthcare professional doing your blood test if you're worried about needles. They can help you feel more comfortable during the test. You can also bring someone with you to the blood test to support you.</p><BR>

    </div>
  </div>

{% endblock %}
