{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}

{% set pageHeading = "Check" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsapp-page-heading nhsuk-heading-l">Please check the below details
</h1>

      <div class="nhsuk-warning-callout">
        <h2 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Before you continue
          </span>
        </h2>
        <p>Your appointment is not booked yet. Please read and confirm the details including contacts as you may need to contacted by the clinician.</p>
      </div>

      <h2 class="nhsuk-heading-m">Your details</h2>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Phone number</dt>
          <dd class="nhsuk-summary-list__value">07859 123 456</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Email</dt>
          <dd class="nhsuk-summary-list__value">email@email.com</dd>
        </div>
      </dl>

      <h2 class="nhsuk-heading-m">Appointment details</h2>
      <dl class="nhsuk-summary-list">
        {% if clinic.type == 'walk-in' %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Appointment type</dt>
          <dd class="nhsuk-summary-list__value">Walk in &ndash; no appointment needed</dd>
        </div>
        {% else %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Date</dt>
          <dd class="nhsuk-summary-list__value">{{ date }}</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Time</dt>
          <dd class="nhsuk-summary-list__value">
            {{ time }}
            <span class="nhsuk-hint nhsuk-u-margin-bottom-0">Times shown are expected start and finish.</span>
          </dd>
        </div>
        {% endif %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Clinic name</dt>
          <dd class="nhsuk-summary-list__value">{{ clinic.name }}</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Location</dt>
          <dd class="nhsuk-summary-list__value">{{ clinic.address }}</dd>
        </div>
      </dl>

      {{ button({
        text: "Confirm appointment",
        classes: "nhsapp-button",
        href: "/pages/your-health/confirm?clinic=" + (clinic.id | urlencode) + "&postcode=" + (postcode | urlencode) + "&date=" + (date | urlencode) + "&time=" + (time | urlencode)
      }) }}

    </div>
  </div>

{% endblock %}
