{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/your-health/arrange-test" %}

{% set pageHeading = "View availability for [name of test]" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="app-dynamic-page-title__heading nhsuk-heading-l">View availability for [name of test]</h1>

      <form method="get" action="/pages/your-health/view-availability-results" class="nhsuk-form">
        <label class="nhsuk-label" for="postcode">Enter a town, city or postcode in England</label>
        <input class="nhsuk-input" id="postcode" name="postcode" type="text" value="SE77HX" />

        <p><a class="nhsuk-link nhsuk-link--no-visited-state" href="#">Use current location</a></p>

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">Access requirement:</legend>

          <div class="nhsuk-radios" style="margin-bottom:20px;">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="access-no" name="access" type="radio" value="none" checked>
              <label class="nhsuk-radios__label" for="access-no">No access needs</label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="access-yes" name="access" type="radio" value="yes">
              <label class="nhsuk-radios__label" for="access-yes">I have access needs</label>
            </div>
          </div>
        </fieldset>

        <button class="nhsuk-button nhsapp-button nhsuk-button--large" type="submit" data-module="nhsuk-button">Search availability</button>
      </form>

      <hr class="nhsuk-section-break--l" />

      <div class="nhsapp-accordion-list">
        <div class="nhsapp-accordion-item">
          <a class="nhsuk-link nhsuk-link--no-visited-state nhsuk-heading-m" href="#">About [name of test]</a>
        </div>
        <hr class="nhsuk-section-break--s" />
        <div class="nhsapp-accordion-item">
          <a class="nhsuk-link nhsuk-link--no-visited-state nhsuk-heading-m" href="#">An FAQ about test</a>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
