{% extends 'layout-app.html' %}

{% set hub = "Appointments" %}

{% set backLink = true %}
{% set backLinkURL = "/" %}

{% set pageHeading = "Appointments" %}

{% block content %}

  {% set hospitalBadgeCount = 1 if data['bookedAppointment'] else 2 %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Page title -->
      <h1 class="app-dynamic-page-title__heading nhsuk-heading-l">Appointments</h1>

      


      <!-- GP Surgery -->
      {{ nhsappCardGroup({
        stacked: true,
        headingHtml: '<h2 class="nhsuk-heading-m nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-20">GP Surgery</h2>',
        cards: [
          { title: 'Book an appointment', href: '/pages/appointments/book' },
          { title: 'Manage GP appointments', href: '/pages/appointments/manage-gp-appointments' },
          { title: 'Appointment notes and other updates', href: '/pages/appointments/notes' },
          { title: 'Request a letter or information', href: '/pages/appointments/request-letter' }
        ]
      }) }}

      <!-- Hospital -->
      {{ nhsappCardGroup({
        stacked: true,
        headingHtml: '<h2 class="nhsuk-heading-m nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-20">Hospital</h2>',
        cards: [
          { title: 'Hospital and specialist appointments', href: '/pages/hospital-and-specialist-appointments', badgeLarge: { count: hospitalBadgeCount, label: 'notifications' } },
          { title: 'Referrals', href: '/pages/your-health/referrals' },
          { title: 'Waiting lists', href: '/pages/your-health/waiting-lists' },
          { title: 'Patient initiated follow up (PIFU) requests', href: '/pages/your-health/pifu-requests' }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
