{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/appointments-p9" %}

{% set pageHeading = "Hospital and specialist appointments" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Page title -->
      <h1 class="app-dynamic-page-title__heading nhsuk-heading-l">Hospital and specialist appointments</h1>
      <p>View and manage your upcoming and past hospital appointments.</p>

      {{ insetText({
        html: "Not all appointments may show in the NHS App. If you cannot find what you need, contact your healthcare provider."
      }) }}

      <!-- Actions required -->
      <div class="nhsapp-section-heading">
        <h2 class="nhsuk-heading-m nhsuk-u-margin-top-20 nhsuk-u-margin-bottom-20">Actions required</h2>
      </div>

      {% if not data['bookedAppointment'] %}
      <ul class="nhsapp-cards">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <div class="nhsapp-card__above">
                <span
                  class="nhsapp-tag nhsapp-tag--red nhsuk-u-margin-bottom-3"
                  aria-hidden="true"
                >
                  Action needed
                </span>
              </div>
              <a
                href="/pages/your-health/arrange-test"
                class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
                aria-label="Action needed: Book test"
              >
                Please arrange a blood test in the next few days
              </a>

              <p aria-hidden="true" class="nhsuk-u-margin-bottom-3">
                Because of some of the symptoms you have discussed with your GP a blood test is required to assess you for Iron deficiency anaemia.
              </p>
            </div>

            <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
              <path d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
            </svg>
          </div>
        </li>
      </ul>
      {% endif %}
      <ul class="nhsapp-cards">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <div class="nhsapp-card__above">
                <span
                  class="nhsapp-tag nhsapp-tag--red nhsuk-u-margin-bottom-3"
                  aria-hidden="true"
                >
                  Action needed
                </span>
              </div>
              <a
                class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
                aria-disabled="true"
                tabindex="-1"
                style="pointer-events:none"
              >
                Please book a faecal immunochemical test
              </a>
              <p aria-hidden="true" class="nhsuk-u-margin-bottom-3">
                Because of some of the symptoms you have discussed with your GP a faecal immunochemical test is required to assess you for Iron deficiency anaemia.
              </p>
            </div>

            <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
              <path d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
            </svg>
          </div>
        </li>
      </ul>


    <!-- Upcoming -->
      <div class="nhsapp-section-heading">
        <h2 class="nhsuk-heading-m nhsuk-u-margin-top-20 nhsuk-u-margin-bottom-20">Up and coming appointments</h2>
      </div>

      {% if data.bookedAppointment %}
      <ul class="nhsapp-cards">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <div class="nhsapp-card__above">
                <span class="nhsapp-tag nhsapp-tag--green nhsuk-u-margin-bottom-3" aria-hidden="true">Booked</span>
              </div>
              <a
                href="/pages/your-health/your-appointment?clinic={{ data.bookedAppointment.clinicId | urlencode }}&postcode={{ data.bookedAppointment.postcode | urlencode }}&date={{ data.bookedAppointment.date | urlencode }}&time={{ data.bookedAppointment.time | urlencode }}"
                class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              >
                Blood test appointment
              </a>

              {% if data.bookedAppointment.walkIn %}
              <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
                Walk in &ndash; no appointment needed
              </p>
              {% else %}
              <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
                {{ data.bookedAppointment.date }} <br />
                {{ data.bookedAppointment.time }}
              </p>
              {% endif %}
              <p aria-hidden="true" class="nhsuk-u-margin-bottom-3">
                {{ data.bookedAppointment.clinicName }}
              </p>
            </div>

            <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
              <path d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
            </svg>
          </div>
        </li>
      </ul>
      {% endif %}

      <ul class="nhsapp-cards">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <div class="nhsapp-card__above">
                <span
                  class="nhsapp-tag nhsapp-tag--green nhsuk-u-margin-bottom-3"
                  aria-hidden="true"
                >
                  Booked
                </span>
              </div>
              <a
                href="/pages/your-health/arrange-test"
                class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
                aria-label="Booked: Cholesterol test"
              >
                Cholesterol test
              </a>


              <p
                aria-hidden="true"
                class="nhsuk-u-font-weight-bold nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3"
              >
                Monday 3 June 2026 <br />
                9:40am
              </p>
              <p aria-hidden="true" class="nhsuk-u-margin-bottom-3">
                Royal General Hospital
              </p>
            </div>

            <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
              <path d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
            </svg>
          </div>
        </li>
      </ul>
      
    

  <!-- Past -->
      <div class="nhsapp-section-heading">
        <h2 class="nhsuk-heading-m nhsuk-u-margin-top-20 nhsuk-u-margin-bottom-20">Past appointments</h2>
      </div>

      {% if data.cancelledAppointment %}
      <ul class="nhsapp-cards">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <div class="nhsapp-card__above">
                <span class="nhsapp-tag nhsapp-tag--red nhsuk-u-margin-bottom-3" aria-hidden="true">Cancelled</span>
              </div>
              <a
                href="#"
                class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
              >
                Blood test appointment
              </a>

              {% if data.cancelledAppointment.walkIn %}
              <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
                Walk in &ndash; no appointment needed
              </p>
              {% else %}
              <p aria-hidden="true" class="nhsuk-u-font-weight-bold nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3">
                {{ data.cancelledAppointment.date }} <br />
                {{ data.cancelledAppointment.time }}
              </p>
              {% endif %}
              <p aria-hidden="true" class="nhsuk-u-margin-bottom-3">
                {{ data.cancelledAppointment.clinicName }}
              </p>
            </div>

            <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
              <path d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
            </svg>
          </div>
        </li>
      </ul>
      {% endif %}

      <ul class="nhsapp-cards nhsapp-cards--stacked">
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <div class="nhsapp-card__above">
                <span
                  class="nhsapp-tag nhsapp-tag--green nhsuk-u-margin-bottom-3"
                  aria-hidden="true"
                >
                  Results received
                </span>
              </div>
              <a
                href="/pages/your-health/result-sensitive-information?next=/pages/your-health/test-result"
                class="nhsapp-card__link nhsuk-link--no-visited-state nhsuk-u-font-size-22"
                aria-label="Results received: Past appointment"
              >
                Liver Function Tests
              </a>


              <p
                aria-hidden="true"
                class="nhsuk-u-font-weight-bold nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-3"
              >
                Monday 18 April 2026 <br />
                8:00am
              </p>
              <p aria-hidden="true" class="nhsuk-u-margin-bottom-3">
                Royal General Hospital
              </p>
            </div>

            <svg class="nhsapp-icon nhsapp-icon--chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24">
              <path d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" />
            </svg>
          </div>
        </li>
      </ul>
    </div>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    document.querySelector('.app-global-navigation-native__help').addEventListener('click', function () {
      window.location.href = '/pages/hospital-and-specialist-appointments/reset';
    });
  </script>
{% endblock %}
